@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

header h1{
    font-family: "Archivo Black",sans-serif ;
    font-size: 100px;
    color:#294633;
    text-shadow: 2px 2px 5px rgb(18, 2, 2);
    
}

div .logo-img{
    align-self:flex-end;
    height: 250px;
    width: 400px;
}

