.layer{
    
    width: auto;
    height: auto;
    position: absolute;
    justify-content: start;
}

.layer-nav{
    border-radius: 10px;
    border: 5px solid #294633;
    display: flex;
    text-decoration: none;
    list-style-type: none;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: start;
    
    
    
}

.layer-nav a {
    text-transform: uppercase;
    margin-left: -40px;
    background-color: #e7ddbe;
    color: #294633;
    border: 2px solid #294633;
    display: flex;
    align-items: start;
    justify-content: center;
    font-size: 40px;
    padding: 40px;
    text-decoration: none;
    font-family: "Archivo Black", sans-serif;
    text-align: center;
    
}
