.main-box{
    border: 1px solid #e7ddbe ;
    border-radius: 20px;
    margin-left: 450px;
    margin-top: 20px;
    background: #e7ddbe;
    margin-right: 80px;
    height: auto;
}
.main-box p{
    background: #e7ddbe ;
}