.links-nav{
    border: 5px solid #294633;
    justify-content: space-between;
    background: #e7ddbe;
    height: auto;
    width: auto;
    justify-items: center;
    height: 100px;
    
    
}

.links-nav ul{

   display: flex;
   list-style: none;
   gap:200px;
   padding: 0;
   margin: 0;
   background-color:#e7ddbe; 
   position: relative;
   align-self: center;
   font-size: 35px;
   color:#294633;
   padding-top: 20px;

}

.links-nav li a{
    text-transform: uppercase;
    font-family: "Archivo Black",sans-serif ;
    background-color:#e7ddbe;
    width: auto;
    height: auto;
    text-decoration: none;
    color: #294633;
}