body {
    background-color: green;
    font-family: Arial, Helvetica, sans-serif;
    /*Boa prática adicionar uma fonte no body */
}

a {
    text-decoration: none;
}

#nav-pai { /*Links de navegação */
    width: 100%;
    display: flex;
    gap: 5px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: aliceblue;
    border-radius: 10px;
}

.item{ /*Itens do menu superior, home,zacarias e delivery */
    width: 50px;
    height: 50px;
    list-style-type: none;
    font-size: 30px;
    outline: none;
    
    
}


#titulo { /*Titulo da página */
    text-align: center;
    color: crimson;
    margin: 40px 20px 20px 40px;
    background-color: white;
    text-shadow: 0 0 4px rgb(139, 131, 131);
}



footer {
    /*position: absolute;*/ /*Se o conteudo cresce ele sobrepoe o conteudo */
    background-color: rgb(2, 3, 3);
    text-align: center;
    width: 100%;
    color: white;
    padding: 10px 0;
    margin-top: 60px;
    
}

.item:hover{ /*Botoões do menu */
    
    text-transform: uppercase;
}

.produtos{ /*Lista dos produtos */
    background-image: linear-gradient(to top,white,green 60%);
    display: flex;
    gap: 5px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 10px;
    border: 4px;
    margin-top: 30px;

}
.frutas{ /*Layout de exibição das frutas, com efeito de card para distanciar da cor do fundo */
    display: block;
    text-align: center;
    background:white;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.frutas:hover{
    background-color: rgb(255, 255, 255);
    transition: all 0.3s ease-in;
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(8, 8, 8, 0.5);
}

@media(max-width:600px){
    #nav-pai{
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .item{
        width: auto;
        font-size: 50px;
        
        
    }
    #titulo{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .produtos{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }


}
    
.bottom{ /*Botõs de compra */
    display: block;
    text-align: center;
    color: white;
    background-color: #070807;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.bottom:hover{ /*Efeito do botão quando o mouse é passado em cima */
    background-color: blue;
}